body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
.gallery {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-bottom: -30px;
}
.gallery > li {
    position: relative;
    border-radius: 4px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    height: 200px;
    width: 300px;
}
.gallery > img {
    display: block;

    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center;
}
